/*-~- variables -~-*/
// Font
$font-main: sans-serif;
$font-sec: serif;

// Colors
$color-black: #000;
$color-white: #fff;
$color-gray: #9d9fa2;

$color-preloader: #4f4;
$color-mainBackground: $color-black;

//Nav
$color-nav: #020;

//Buttons
$color-button1-1: #2f2;
$color-button1-2: #040;

// Durations
$fastDuration: .1s;
$mediumDuration: .3s;
$slowDuration: .6s;
