/*-~- config -~-*/
@import "config/reset";
@import "config/variables";

/*-~- helpers -~-*/
@import "helpers/mixins";
@import "helpers/subclasses";

@import "config/typography";

/*-~- layout -~-*/
@import "layout/icons";
@import "layout/buttons";
@import "layout/layout";

/*-~- libs -~-*/

/*-~- partials -~-*/
@import "partials/preloader";
@import "partials/header";
@import "partials/navigation";
@import "partials/footer";

/*-~- styles -~-*/
html, body{
    background-color: $color-mainBackground;
}
.character{
    display:none;
    position: absolute;
    transition: transform 2s ease;
    width: 128px;
    height: 128px;
    background-image: url('./../images/Green_team.png');
    background-position: 0px 128px;
}
.zone{
    display:none;
    margin: 0 auto;
    width:100%;
    height: 0;
    padding-bottom: 56.25%; // 16:9
	position: relative;
    background-color: $color-white;
    background-image: url('./../images/hope.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
main{
    padding: 0 5%;
}
.testBox{
    width:5%;
    padding-bottom: 75% * 0.075;
    background-color: rgba(255, 255, 150, 0.5);
    position: absolute;
    top: 31%;
    left: 44%;
}
