/*-~- config -~-*/
@import "config/reset";
@import "config/variables";

/*-~- helpers -~-*/
@import "helpers/mixins";
@import "helpers/subclasses";

@import "config/typography";

/*-~- layout -~-*/
@import "layout/icons";
@import "layout/buttons";
@import "layout/layout";

/*-~- libs -~-*/

/*-~- partials -~-*/
@import "partials/preloader";
@import "partials/info-parts";
@import "partials/header";
@import "partials/navigation";
@import "partials/footer";

/*-~- styles -~-*/
html, body{
    background-color: $color-mainBackground;

    //TODO - Support other browsers by using a js plugin instead
    ::-webkit-scrollbar {
        width: 12px;
    }
    
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
}
#character{
    display:none;
    position: absolute;
    transition: transform 2s ease;
    width: 128px;
    height: 128px;
    background-image: url('./../images/Green_team.png');
    background-position: 0px 128px;
}
#introduction{
    width:50%;
    background-color: $color-background1;
    color: $color-preloader;
    border: $border-common;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
}
#zone{
    display:none;
    width:100%;
    height: 0;
    padding-bottom: 56.25%; // 16:9
	position: relative;
    background-color: $color-white;
    background-image: url('./../images/hope.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border: $border-common;
}
main{
    position: absolute;
    right: 0;
    top: 0;
    left: 54px;
    bottom: 0;
}
#notification{
    display: none;
    z-index: 99;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    width: 50%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 56px;
    background-color: $color-background1;
    color: $color-preloader;
    padding: 10px 20px;
    text-align: center;
    border: $border-common;
    border-radius: 0 15px 0 15px;
}
#information{
    display: none;
    z-index:90;
    position: absolute;
    margin: 5vh auto;
    right: 0;
    top: 0;
    left: 0;
    width:90%;
    bottom: 0;
    padding: 10px 20px;
    background-color: $color-background1;
    color: $color-preloader;
    border: $border-common;
    border-radius: 0 25px 0 25px;
    overflow: auto;
}
#notSupported{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: $color-background1;
    color: $color-preloader;
    border: $border-common;
    padding: 10% 20%;
    p{
        margin-top: 5px;
        padding: 5px;
        text-align: center;
        font-size: 3em;
        line-height: 101%;
    }
    @media screen and (max-width:640px), screen and (max-height:480px) {
        display: block;
    }
}
#contact{
    display: none;
    z-index:90;
    position: absolute;
    margin: 5vh auto;
    right: 0;
    top: 0;
    left: 0;
    width:90%;
    bottom: 0;
    padding: 10px 20px;
    background-color: $color-background1;
    color: $color-preloader;
    border: $border-common;
    border-radius: 0 25px 0 25px;
    overflow: auto;
    label{
        float:left;
        margin: 15px auto;
        padding: 10px;
        display:block;
        width:15%;
    }
    input, textarea{
        margin: 15px auto;
        padding: 10px;
        border-radius: 5px;
        display:block;
        width:80%;
        float:left;
    }
    #msg{
        height: 30vh;
    }
    #submit{
        float:right;
        display: block;
        width:50%;
        margin-right: 25%;
        font-size: 13px;
        font-weight: 700;
        line-height: 30px;
        padding: 5px 20px;
        color: $color-button1-1;
        text-transform: uppercase;
        white-space: nowrap;
        background: $color-button1-2;
        cursor: pointer;
        letter-spacing: 1px;
        outline: none;
        border: 2px solid $color-black;
        transition: all $mediumDuration ease-out;
        border-radius: 30px 0px 30px 0px;

        &:hover {
            background-color: $color-button1-1;
            color: $color-button1-2;
            border: 2px solid $color-white;
            border-radius: 0px 30px 0px 30px;
        }
    }
}
em{
    color: red;
}
