.info{
    width:3%;
    padding-bottom: 100% * 0.03;
    // background-color: $color-transparent1;
    position: absolute;
}
#i1{
    top: 32%;
    left: 45%;
}
#i2{
    top: 6%;
    left: 5%;
}
#i3{
    top: 44%;
    left: 3%;
}
#i4{
    top: 54%;
    left: 4%;
}
#i5{
    top: 47%;
    left: 97%;
}
#i6{
    top: 16%;
    left: 63%;
}
#i7{
    top: 27%;
    left: 36%;
}
#i8{
    top: 58%;
    left: 75%;
}
#i9{
    top: 75%;
    left: 12%;
}
#i10{
    top: 89%;
    left: 65%;
}