nav{
    position: fixed;
    z-index: 99;
    left: 0;
    background-color: $color-background1;
    padding: 5px 10px;
    border: $border-common;
    transform: rotate(-90deg) translate(-108.5%, -100%);
    transform-origin: 0 -100%;
}
header{
    position: relative;
}